<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>{{ folder }}</ion-title>
    </ion-buttons>
    <ion-button slot="start" color="primary" (click)="loginOut()">Log Out</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <table *ngIf="!afficherFormulaire && !updateFormulaire">
    <thead>
      <tr>
        			<th> Last Update </th>
			<th> Name </th>
			<th> Id </th>

        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of object">
        		<td>{{item.lastUpdate}}</td>
		<td>{{item.name}}</td>
		<td>{{item.id}}</td>

        <td><ion-button color="primary" (click)="showUpdate(item)">Update</ion-button></td>
        <td><ion-button color="danger" (click)="deleteItem(item)">Delete</ion-button></td>
      </tr>
    </tbody>
    <div style="display: flex;">
              <ion-button (click)="loadForeignKey()">Add Language</ion-button>
              <div *ngIf="currentPage !== 1">
                <ion-button color="secondary" (click)="functionPervious()">Prev..</ion-button>
              </div>
                <div *ngFor="let page of pages">
                  <ion-button color="secondary" *ngIf="totalPages !== 1" (click)="goToPage(page+1)">{{ page + 1 }}</ion-button>
                </div>
              <div *ngIf="currentPage !== totalPages">
                <ion-button color="secondary" (click)="functionNext()">Next..</ion-button>
              </div>
            </div>
  </table>
  <form *ngIf="afficherFormulaire" (ngSubmit)="submitForm()" #myForm="ngForm">
    		<label className="form-label">lastUpdate</label> 
	 	<input type="datetime-local" placeholder="lastUpdate" name="lastUpdate" [(ngModel)]="formData.lastUpdate"/><br/>
		<label className="form-label">name</label> 
	 	<input type="text" placeholder="name" name="name" [(ngModel)]="formData.name"/><br/>
	<br/>
    <ion-button type="submit">Save</ion-button><br/>
    <ion-button (click)="afficherFormulaire = !afficherFormulaire">Back</ion-button>
  </form>
  <form *ngIf="updateFormulaire" (ngSubmit)="updateItem()" #myForm="ngForm">
    		<label className="form-label">lastUpdate</label> 
	 	<input type="datetime-local" placeholder="lastUpdate" name="lastUpdate" [(ngModel)]="updateData.lastUpdate"/><br/>
		<label className="form-label">name</label> 
	 	<input type="text" placeholder="name" name="name" [(ngModel)]="updateData.name"/><br/>
		<label className="form-label">id</label> 
	 	<input type="hidden" placeholder="id" name="id" [(ngModel)]="updateData.id"/><br/>
	<br/>
    <ion-button type="submit">Update</ion-button><br/>
    <ion-button (click)="updateFormulaire = !updateFormulaire">Back</ion-button>
  </form>
</ion-content>
<!--<ion-item>
    	
	
    	
	
	
	
    	
    id
</ion-item>-->
